[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "glad"]
	path = glad
	url = https://github.com/Dav1dde/glad.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm
